:root {
    --ungu: #341f97;
    --ungu-light: #9b8ae7;
    --ungumuda: #472faf;
    --silver: #F9F9F9;
    --silver-light: #dadada;
    --silver-light-1: #eeeeee;
    --black: #2c3e50;
    --black-deep: #130f40;
    --black-deep-light: #241111;
    --green: #1dd1a1;
    --green-deep: #0d775d;
    --black-light: #4a6580;
}

* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: var(--silver);
    margin: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

button {
    border: none;
    animation: btnOut 0.5s ease-in-out;
    outline: none !important;
}

button:hover {
    transform: scale(1.1);
    animation: btnIn 0.5s ease-in-out;
    outline: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes btnIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

@keyframes btnOut {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 50;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.popup-box-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black-deep);
    opacity: 0.5;
    display: flex;
}

.popup-box {
    width: 50%;
    height: 60%;
    background-color: var(--silver);
    position: relative;
    opacity: 1;
    border-radius: 22px;
    padding: 50px;
    top: 5%;
    color: var(--black-deep);
    animation: popup-animate-show 0.5s ease-in-out;
}

.popup-box-flex {
    display: flex;
}

.popup-box .popup-left {
    display: block;
    width: 50%;
}

.popup-box .popup-right {
    display: block;
    width: 50%;
}

.popup-right br {
    height: 5px;
}


/*.popup-right input[type=text] {
    width: 97%;
    height: 50px;
    border: none;
    padding-left: 10px;
    background-color: var(--silver-light-1);
    color: var(--black-light);
    border-radius: 8px;
} */

.label-before,
.field input:focus+label::before,
.field input:valid+label::before,
.field textarea:valid+label::before,
.field textarea:focus+label::before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: var(--silver);
    padding: 0 6px;
    left: 9px;
}

.popup-right .field {
    position: relative;
    margin-bottom: 15px;
}

.popup-right .field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
}

.popup-right .field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.popup-right .field textarea {
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #222;
    font-size: 14px;
    resize: none;
}

.popup-right .field input:focus,
.popup-right .field textarea:focus {
    outline: 0;
    border-color: blue;
}

.popup-right .field input:valid+label::before,
.popup-right .field textarea:valid+label::before {
    content: attr(data-title);
}

.popup-right .field input:focus+label::before,
.popup-right .field textarea:focus+label::before {
    color: blue;
}

.popup-box .btn-fb {
    width: 180px;
    height: 50px;
    background-color: #1877F2;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--silver);
    cursor: pointer;
}

.popup-box .btn-ig {
    width: 180px;
    height: 50px;
    background-color: #E4405F;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--silver);
    cursor: pointer;
}

.popup-box .btn-wa {
    width: 180px;
    height: 50px;
    background-color: #25D366;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--silver);
    cursor: pointer;
}

.popup-box .btn-mail {
    width: 180px;
    height: 50px;
    background-color: var(--silver-light);
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--black-light);
    cursor: pointer;
}

.popup-box .btn-send {
    width: 150px;
    height: 60px;
    background-color: var(--ungumuda);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--silver-light-1);
    cursor: pointer;
}

@keyframes popup-animate-show {
    from {
        top: 100%;
        opacity: 0;
    }
    to {
        top: 5%;
        opacity: 1;
    }
}

@keyframes popup-animate-close {
    from {
        top: 5%;
        opacity: 1;
    }
    to {
        top: 100%;
        opacity: 0;
    }
}

.popup-box .close {
    position: absolute;
    right: 60px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-box .close:hover {
    background-color: var(--silver-light-1);
}

.popup-box .title-box {
    font-weight: 600;
    font-size: 28px;
    display: flex;
}

.popup-box .box-line {
    position: relative;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to left, transparent 50%, var(--silver-light) 50%);
    background-size: 40px 100%;
}

.header {
    padding-left: 2%;
    height: 80px;
    align-items: center;
    display: flex;
    position: fixed;
    top: -5px;
    left: 0;
    right: 0px;
    background-color: var(--silver);
    z-index: 18;
}

.logo {
    display: flex;
}

.nav-menu {
    width: 100%;
    display: flex;
    color: var(--ungu);
    transition: all 0.4s ease-in-out;
}

.nav-menu:hover {
    color: var(--silver-light);
}

.nav-menu ul {
    display: table-row;
    border-spacing: 1vw;
    font-weight: 600;
}

.nav-menu ul li {
    display: table-cell;
    height: 30px;
    list-style-type: none;
    margin: 10px;
    vertical-align: middle;
}

.nav-menu .list-menu {
    padding: 20px;
    align-items: center;
    border-radius: 12px;
    cursor: pointer;
}

.nav-menu .list-menu a {
    text-decoration: none;
    color: inherit;
}

.nav-menu .list-menu:hover {
    color: var(--green);
}

.toggle-nav {
    display: none;
}

.mobile-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


/*MOBILE*/

@keyframes menuShow {
    from {
        left: -500px;
    }
    to {
        left: 0;
    }
}

@keyframes menuClose {
    from {
        left: 0px;
    }
    to {
        left: -500px;
    }
}

@media(max-width:884px) {
    .nav-menu {
        display: flex;
    }
    .toggle-nav {
        display: flex;
        justify-content: flex-end;
        padding: 30px;
        width: 100%;
    }
    .toggle-nav .btn-menu {
        width: 50px;
        height: 50px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 8px;
        background-color: transparent;
    }
    .toggle-nav .btn-menu:hover {
        background-color: #dddddd;
        border-radius: 8px;
        cursor: pointer;
    }
    .mobile-menu {
        display: none;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        animation: menuShow 1s ease;
        background-color: #C0392B;
        width: 60%;
        z-index: 20;
    }
    .bg-menu {
        display: none;
        background-color: black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 19;
    }
    .nav-menu ul {
        display: block;
        border-spacing: 5px;
        background-color: var(--black);
        margin: 0px;
        padding: 20px;
        width: 100%;
    }
    .nav-menu ul li {
        display: block;
        list-style-type: none;
        margin-left: 0px;
        height: 50px;
        text-align: left;
    }
    .nav-menu .list-menu {
        width: 90%;
        padding: 0;
        padding-left: 20px;
        display: flex;
        align-items: center;
        border-radius: 12px;
        cursor: pointer;
        color: var(--black-light);
    }
    .nav-menu .list-menu:hover {
        background-color: var(--ungu);
        color: var(--silver);
    }
    .popup-box {
        width: 85%;
        height: 70%;
        padding: 20px;
        top: 5%;
    }
    @keyframes popup-animate-show {
        from {
            top: 100%;
            opacity: 0;
        }
        to {
            top: 5%;
            opacity: 1;
        }
    }
    @keyframes popup-animate-close {
        from {
            top: 5%;
            opacity: 1;
        }
        to {
            top: 100%;
            opacity: 0;
        }
    }
    .popup-box-flex {
        display: block;
        width: 100%;
    }
    .popup-box input {
        width: 100%;
    }
    .popup-box .popup-left {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .popup-box .popup-right {
        display: block;
        width: 100%;
    }
    .popup-box .btn-fb {
        width: 150px;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .popup-box .btn-ig {
        width: 150px;
        margin-right: 0px;
    }
    .popup-box .btn-wa {
        width: 150px;
        margin-right: 10px;
    }
    .popup-box .btn-mail {
        width: 150px;
        margin-right: 0px;
    }
    .popup-box br {
        content: "";
        margin: 2px;
        display: block;
        font-size: 24%;
    }
    .popup-box .box-line {
        margin-bottom: 10px;
    }
    .popup-box .close {
        right: 20px;
    }
    .popup-box .title-box {
        margin-bottom: 10px;
    }
}

.home {
    margin-top: 80px;
    display: flex;
    height: 550px;
    background-image: url('img/bg-home-purple.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    color: var(--silver);
}

.home .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.home .content {
    display: flex;
    font-weight: 500;
    height: 100%;
}

.home .content .left {
    position: flex;
    width: 50%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.home .content .right {
    display: flex;
    width: 50%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
}

.home .content .title {
    font-size: 28px;
    font-weight: 700;
    padding-left: 10%;
    flex-wrap: nowrap;
}

.home .content .subTitle {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10%;
    color: #dfdfdf;
}

.home .content .bio {
    font-size: 18px;
    font-weight: 400;
    padding-left: 10%;
    color: #dfdfdf;
}

.home .content .btn-contact {
    width: 200px;
    height: 70px;
    border-radius: 17px;
    background-color: var(--ungu);
    margin-left: 10%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: 7px solid var(--ungumuda);
}

.home .content .btn-contact:hover {
    transition: background-color 1000ms ease;
}

.home .content .frame {
    width: 280px;
    height: 320px;
    background-color: var(--silver);
    border-radius: 12px;
    color: var(--black);
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    animation: frameSliderIn 0.8s ease-in;
}

.home .content .line {
    position: absolute;
    width: 290px;
    height: 2px;
    background-image: linear-gradient(to left, transparent 50%, var(--silver-light) 50%);
    background-size: 40px 100%;
    margin-top: 10px;
}

.home .content .slider {
    display: block;
}

.home .content .slider-paging {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.home .content .btn-slide {
    height: 12px;
    width: 12px;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

.home .content .btn-slide-active {
    height: 14px;
    width: 14px;
    background-color: var(--silver);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

@keyframes frameSliderIn {
    from {
        transform: scale(0)
    }
    70% {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

@media(max-width:768px) {
    .home {
        height: 720px;
    }
    .home .content {
        display: block;
        width: 100%;
    }
    .home .content .left {
        width: 100%;
        padding-bottom: 2%;
    }
    .home .content .right {
        padding-top: 0;
        width: 100%;
    }
}

.about {
    display: flex;
    height: 550px;
    color: var(--black);
}

.about .content {
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.about .content .left {
    position: flex;
    width: 50%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    justify-content: center;
}

.about .content .right {
    position: flex;
    width: 50%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 10%;
}

.about .content .right hr {
    color: var(--ungu);
    background-color: var(--ungu);
    height: 5px;
    border: darkred;
    width: 120px;
    margin-left: 10%;
}

.about .content .image {
    display: block;
    background-image: url('img/My.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: fill;
    margin-left: calc(100% / 2 - 25%);
}

.about .content .title {
    font-weight: 600;
    color: var(--black);
    font-size: 28px;
    margin-left: 10%;
    font-family: 'Righteous', cursive;
}

.about .content .subTitle {
    font-weight: 400;
    color: #4a6580;
    font-size: 18px;
    margin-left: 10%;
}

.about .content .caption {
    font-weight: 400;
    color: #4a6580;
    font-size: 18px;
    margin-left: 10%;
}

.about .content .work {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    height: 110px;
    margin-left: 10%;
    border: 3px solid var(--silver-light-1);
    border-radius: 12px;
    padding: 10px;
    margin-right: 5%;
}

.about .content .work:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    margin-right: 0%;
    border-radius: 12px;
    box-shadow: -5px 16px 58px 0px rgba(189, 189, 189, 0.73);
    -webkit-box-shadow: -5px 16px 58px 0px rgba(189, 189, 189, 0.73);
    -moz-box-shadow: -5px 16px 58px 0px rgba(189, 189, 189, 0.73);
}

.work-list {
    display: block;
    width: 20%;
    height: 100px;
    text-align: center;
    font-size: 38px;
    padding: 5px;
    font-weight: 800;
    border-radius: 14px;
}

@keyframes workList {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.work-list:hover {
    animation: workList 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: #e9e9e9;
}

.about .content .caption-list {
    font-weight: 400;
    color: var(--black-light);
    font-size: 14px;
    margin-top: 5px;
}

.about .content .btn-cv {
    width: 200px;
    height: 70px;
    border-radius: 17px;
    background-color: var(--ungu);
    margin-left: 10%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 5%;
    border: 7px solid var(--ungumuda);
}

.about .content .btn-cv:hover {
    transition: background-color 1000ms ease;
}

@media (max-width: 768px) {
    .about .content .image {
        width: 200px;
        height: 200px;
        text-align: center;
        justify-self: center;
    }
    .about {
        height: 760px;
    }
    .about .content {
        display: block;
        width: 100%;
    }
    .about .content .left {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .about .content .right {
        padding-top: 0;
        width: 100%;
    }
    .about .content .work {
        margin-left: 5%;
    }
    .work-list {
        width: 40%;
    }
    .work-list .caption-list {
        font-size: 18px;
    }
    .about .content .btn-cv {
        margin-top: 7%;
        margin-left: 25%;
    }
}

.skills {
    display: flex;
    height: 550px;
    color: var(--black);
}

.skills .content {
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.skills .bg-content {
    display: flex;
    width: 85%;
    height: 430px;
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    display: block;
    transform: rotate(2deg);
    z-index: -50;
    justify-self: center;
    border-radius: 20px;
    left: 7%;
    margin-top: 2%;
    box-shadow: -5px 16px 58px 17px rgba(189, 189, 189, 0.73);
    -webkit-box-shadow: -5px 16px 58px 17px rgba(189, 189, 189, 0.73);
    -moz-box-shadow: -5px 16px 58px 17px rgba(189, 189, 189, 0.73);
}

.skills .bg-content-light {
    display: flex;
    width: 85%;
    height: 430px;
    background-color: var(--silver-light);
    position: absolute;
    display: block;
    transform: rotate(1deg);
    z-index: -51;
    justify-self: center;
    border-radius: 20px;
    left: 7%;
    margin-top: 2%;
}

.skills .content .left {
    position: flex;
    width: 50%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 10%;
}

.skills .content .right {
    display: flex;
    width: 50%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    justify-content: center;
}

.skills .content .left hr {
    color: var(--ungu);
    background-color: var(--silver-light-1);
    height: 5px;
    border: darkred;
    width: 120px;
    margin-left: 0%;
}

.skills .content .title {
    font-weight: 600;
    color: var(--silver);
    font-size: 28px;
    font-family: 'Righteous', cursive;
}

.skills .content .subTitle {
    font-weight: 400;
    color: var(--silver-light);
    font-size: 18px;
}

.skills .content .caption {
    font-weight: 400;
    color: var(--silver-light);
    font-size: 18px;
}

.skills .content .box-skills {
    width: 330px;
    height: 380px;
    background-color: var(--black-deep);
    border-radius: 12px;
    color: var(--black);
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.skills .content .box-skills-flex {
    display: flex;
    align-items: flex-end;
}

.skills .content .box-skills-header {
    display: flex;
    width: auto;
    height: 25px;
    background-color: var(--black-deep-light);
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(155, 155, 155);
    animation: btn-skills-no-active 0.5s ease-in-out;
}

.skills .content .box-skills-header-active {
    display: flex;
    width: auto;
    height: 30px;
    background-color: var(--black-deep);
    padding: 15px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--green);
    animation: btn-skills-active 0.5s ease-in-out;
    border-left: 3px solid var(--black-deep-light);
    border-top: 3px solid var(--black-deep-light);
    border-right: 3px solid var(--black-deep-light);
}

@keyframes btn-skills-no-active {
    from {
        height: 30px;
    }
    to {
        height: 25px;
    }
}

@keyframes btn-skills-active {
    from {
        height: 20px;
    }
    to {
        height: 30px;
    }
}

.skills .content .box-skills-container {
    width: auto;
    height: 68%;
    background-color: var(--black-deep);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 20px;
    font-weight: 400;
    color: var(--green);
    font-size: 18px;
    border-left: 3px solid var(--black-deep-light);
    border-bottom: 3px solid var(--black-deep-light);
    border-right: 3px solid var(--black-deep-light);
}

.skills .content #frontend {
    display: block;
}

.skills .content #designer {
    display: none;
}

.skills .content .list {
    display: flex;
    width: 100%;
}

.skills .content .list-name {
    text-align: left;
    width: 50%;
    font-weight: 600;
}

.skills .content .list-percent {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    width: 50%;
}

.skills .content .progres {
    background-color: var(--green-deep);
    height: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.skills .content .progres-active {
    background-color: var(--green);
    position: relative;
    height: 10px;
    border-radius: 12px;
}

@keyframes html {
    from {
        width: 0;
    }
    to {
        width: 85%;
    }
}

@keyframes css {
    from {
        width: 0;
    }
    to {
        width: 70%;
    }
}

@keyframes js {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}

@keyframes php {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes figma {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

@keyframes xd {
    from {
        width: 0;
    }
    to {
        width: 73%;
    }
}

@keyframes ps {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes cdr {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

@media (max-width: 768px) {
    .skills {
        height: 670px;
    }
    .skills .content {
        display: block;
        width: 100%;
    }
    .skills .content .left {
        padding-top: 5%;
        padding-bottom: 5%;
        width: 85%;
    }
    .skills .content .right {
        padding-top: 0;
        width: 100%;
    }
    .skills .bg-content {
        transform: rotate(0deg);
        width: 98%;
        height: 640px;
        left: 1%;
    }
}

.qualification {
    display: flex;
    height: 800px;
    color: var(--black);
}

.qualification .content {
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

.qualification .content .left {
    position: flex;
    width: 50%;
    height: auto;
    padding-bottom: 10%;
}

.qualification .content .right {
    width: 50%;
    height: auto;
    padding-top: 9%;
    padding-bottom: 5%;
}

.qualification .content .left hr {
    color: var(--ungu);
    background-color: var(--ungu);
    height: 5px;
    border: darkred;
    width: 120px;
    margin-left: 10%;
}

.qualification .content .title {
    font-weight: 600;
    color: var(--black);
    font-size: 28px;
    margin-left: 10%;
    font-family: 'Righteous', cursive;
}

.qualification .content .subTitle {
    font-weight: 400;
    color: var(--black-light);
    font-size: 18px;
    margin-left: 10%;
}

.qualification .content .caption {
    font-weight: 400;
    color: var(--black-light);
    font-size: 18px;
    margin-left: 10%;
}

.qualification .content .box-study {
    width: 80%;
    height: 650px;
    background-color: var(--silver);
    margin-left: 10%;
    border-radius: 14px;
    background-color: var(--silver-light-1);
    transition: all 0.5s ease-in-out;
}

.qualification .content .box-study:hover {
    background-color: var(--silver);
    box-shadow: -5px 16px 58px 0px rgba(189, 189, 189, 0.73);
    -webkit-box-shadow: -5px 16px 58px 0px rgba(189, 189, 189, 0.73);
    -moz-box-shadow: -5px 16px 58px 0px rgba(189, 189, 189, 0.73);
    transition: all 0.5s ease-in-out
}

.qualification .content .box-study-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    font-weight: 600;
    font-size: 24px;
}

.qualification .content .box-study-line {
    position: relative;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, transparent 50%, var(--silver-light) 50%);
    background-size: 40px 100%;
}

.qualification .content .box-study-content {
    width: 100%;
    height: 100%;
    padding-top: 5%;
}

.qualification .content .box-study-dot {
    height: 24px;
    width: 24px;
    background-color: var(--silver-light);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.qualification .content .box-study-dot-inner {
    height: 12px;
    width: 12px;
    background-color: var(--silver-light);
    border: 2px solid var(--silver-light-1);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.qualification .content .box-study-line-content {
    position: relative;
    width: 5px;
    height: 100px;
    background-image: linear-gradient(to bottom, transparent 50%, var(--silver-light) 50%);
    background-size: 50% 15px;
    left: 60px;
}

.qualification .content .box-study-list {
    position: relative;
    display: flex;
    cursor: pointer;
}

.qualification .content .box-study-list-content {
    height: 90px;
    position: absolute;
    margin-left: 90px;
    width: 70%;
    padding: 10px;
    background-color: var(--silver);
    border-radius: 12px;
}

.qualification .content .box-study-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}

.qualification .content .box-study-sub-title {
    font-size: 12px;
    font-weight: 400;
    color: var(--black-light);
}

@media (max-width: 768px) {
    .qualification {
        height: 1380px;
    }
    .qualification .content {
        display: block;
        width: 100%;
    }
    .qualification .content .left {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .qualification .content .right {
        padding-top: 0;
        width: 100%;
    }
    .qualification .content .box-study {
        width: 90%;
        margin-left: 5%;
    }
    .qualification .content .box-study-list-content {
        width: 65%;
    }
}

.service {
    display: flex;
    height: 550px;
    color: var(--black);
}

.service .content {
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.service .content .left {
    position: flex;
    width: 50%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 1%;
}

.service .content .right {
    width: 50%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service .content .left hr {
    color: var(--ungu);
    background-color: var(--silver-light-1);
    height: 5px;
    border: darkred;
    width: 80px;
    margin-left: 10%;
}

.service .content .title {
    font-weight: 600;
    color: var(--silver);
    font-size: 28px;
    margin-left: 10%;
    font-family: 'Righteous', cursive;
}

.service .content .subTitle {
    font-weight: 400;
    color: var(--silver-light);
    font-size: 18px;
    margin-left: 10%;
}

.service .content .caption {
    font-weight: 600;
    font-size: 48px;
    margin-left: 0;
    font-style: italic;
    font-family: 'Righteous', cursive;
    color: var(--silver-light-1);
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255, 255, 255, .5);
    /* Clip Background Image */
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */
    -webkit-text-fill-color: transparent;
    /* animation: aitf 80s infinite; */
    /* Activate hardware acceleration for smoother animations */
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}


/* Animate Background Image */

@keyframes aitf {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.service .content .box-service {
    width: 80%;
    height: 400px;
    background-color: var(--silver);
    margin-left: 10%;
    border-radius: 22px;
    padding: 20px;
    display: flex;
}

.service .content .box-service-menu {
    display: block;
    width: 200px;
    height: 100%;
}

@keyframes show-up {
    from {
        margin-top: 60%;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

.service .content .box-service-menu-1 {
    width: 100%;
    height: 100px;
    background-color: var(--black-deep);
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 22px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.service .content .box-service-menu-2 {
    width: 100%;
    height: 100px;
    background-color: var(--black-deep-light);
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 22px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.service .content .box-service-content {
    width: 100%;
    height: 90%;
    background-color: var(--black-deep);
    color: var(--green);
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
}

.service .content .box-service-title {
    font-size: 24px;
    font-weight: 600;
    display: flex;
}

.service .content .box-service-caption {
    font-size: 18px;
    font-weight: 400;
    color: var(--green-deep);
    margin-left: 20px;
}

.service .content #service-designer {
    display: block;
}

.service .content #service-frontend {
    display: none;
}

@media (max-width: 768px) {
    .service {
        height: 900px;
    }
    .service .content {
        display: block;
        width: 100%;
    }
    .service .content .left {
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .service .content .right {
        padding-top: 0;
        width: 100%;
    }
    .service .content .box-service {
        display: block;
        width: 85%;
        margin-left: 2%;
    }
    .service .content .box-service-menu {
        width: 100%;
        height: 100px;
        display: flex;
    }
    .service .content .box-service-menu-2 {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 22px;
    }
    .service .content .box-service-content {
        width: 88%;
        height: 65%;
        border-top-right-radius: 0px;
    }
    .service .content .box-service-caption {
        margin-left: 0;
    }
    .service .content .caption {
        font-size: 32px;
    }
    @keyframes show-up {
        from {
            margin-top: 10%;
            opacity: 0;
        }
        to {
            margin-top: 0;
            opacity: 1;
        }
    }
}

.portofolio {
    display: flex;
    height: 500px;
    color: var(--black);
    align-items: center;
    justify-content: center;
}

.portofolio .content {
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.portofolio .content .left {
    position: flex;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portofolio .content .right {
    width: 50%;
    height: auto;
    padding-top: 9%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portofolio .content .left hr {
    color: var(--ungu);
    background-color: var(--ungu);
    height: 5px;
    border: darkred;
    width: 120px;
    margin-left: 10%;
}

.portofolio .content .title {
    font-weight: 600;
    color: var(--black);
    font-size: 28px;
    font-family: 'Righteous', cursive;
}

.portofolio .content .subTitle {
    font-weight: 400;
    color: var(--black-light);
    font-size: 18px;
}

.portofolio .content .caption {
    font-weight: 600;
    font-size: 48px;
    margin-left: 10%;
    font-style: italic;
    color: var(--silver-light-1);
}

.portofolio .content .box-portfolio {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.portofolio .content .box-portfolio-content {
    width: 350px;
    height: 250px;
    display: flex;
    border-radius: 22px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
}

.box-portfolio-content img {
    flex-shrink: 1;
    min-width: 100%;
    min-height: 100%;
    border-radius: 22px;
    transition: all 1s ease;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    left: 0;
    display: block;
}

.box-portfolio-content:hover img {
    transform: scale(1.2);
    opacity: 0;
    animation: img-hover 1s ease;
    z-index: -20;
}

.portofolio .content .box-portfolio-content-overlay {
    background-color: var(--black-deep);
    opacity: 1;
    height: 100%;
    width: 100%;
    z-index: 5;
    position: relative;
    left: 0;
    top: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--silver);
}

.portofolio .content .box-portfolio-caption {
    margin-top: 20px;
    text-align: center;
}

.portofolio .content .visit-web {
    width: 50%;
    height: 50px;
    border-radius: 20px;
    border: 2px solid var(--ungumuda);
    background-color: transparent;
    cursor: pointer;
    animation: normal;
    color: var(--silver);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    box-shadow: inset 0 0 0 0 var(--ungumuda);
    transition: ease-out 0.5s;
}

.portofolio .content .visit-web:hover {
    animation: none;
    transform: scale(1);
    box-shadow: inset 250px 0 0 0 var(--ungumuda);
}

.visit-web a {
    display: flex;
    align-items: center;
}

.visit-web i {
    margin-left: 10px;
    margin-top: 5px;
}

.contact {
    display: flex;
    height: 200px;
    color: var(--black);
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.contact .content {
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.contact .content .left {
    position: flex;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 0;
}

.contact .content .right {
    width: 50%;
    height: auto;
    padding-top: 9%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact .content .left hr {
    color: var(--ungu);
    background-color: var(--ungu);
    height: 5px;
    border: darkred;
    width: 120px;
    margin-left: 10%;
}

.contact .content .title {
    font-weight: 600;
    color: var(--black);
    font-size: 28px;
}

.contact .content .subTitle {
    font-weight: 400;
    color: var(--black-light);
    font-size: 18px;
}

.contact .content .caption {
    font-weight: 600;
    font-size: 48px;
    margin-left: 10%;
    font-style: italic;
    color: var(--silver-light-1);
}

.contact .content .box-dialog {
    width: 90%;
    height: 150px;
    background-color: var(--black-deep);
    justify-self: center;
    margin-left: 5%;
    color: var(--silver);
    display: flex;
    border-radius: 24px;
    justify-content: space-around;
    padding: 20px;
}

.contact .content .box-dialog-section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box-dialog-section .title {
    font-family: 'Righteous', cursive;
}

.contact .content .btn-contact {
    width: 50%;
    height: 70px;
    border-radius: 20px;
    border: 2px solid var(--ungumuda);
    background-color: transparent;
    cursor: pointer;
    animation: normal;
    color: var(--silver);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-weight: 700;
}

.contact .content .btn-contact:hover {
    animation: normal;
    transform: scale(1);
    background-color: transparent;
    box-shadow: inset 12em 0 0 0 var(--ungumuda);
}

.btn-contact a {
    display: flex;
    align-items: center;
}

.btn-contact i {
    margin-left: 10px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .contact .content .box-dialog {
        display: block;
        height: auto;
        width: 85%;
        margin-left: 2%;
    }
    .contact .content .box-dialog-section {
        padding-bottom: 20px;
    }
}

.footer {
    display: flex;
    height: auto;
    color: var(--black);
    margin-top: -5%;
}

.footer .content {
    display: flex;
    font-weight: 500;
    height: 100%;
    width: 100%;
    background-color: var(--ungumuda);
}

.footer .content .left {
    position: flex;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-top: 1%;
    color: var(--ungu-light);
    text-align: center;
    margin-top: 5%;
}

.footer .content .right {
    width: 50%;
    height: auto;
    padding-top: 9%;
    padding-bottom: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer .content .left hr {
    color: var(--ungu);
    background-color: var(--ungu);
    height: 5px;
    border: darkred;
    width: 120px;
    margin-left: 10%;
}

.footer .content .footer-caption {
    font-size: 22px;
}

@media (max-width: 768px) {
    .footer {
        margin-top: -10%;
    }
    .footer .content .left {
        margin-top: 30%;
    }
}

.footer .content .ico-flex {
    display: flex;
    justify-content: center;
}

.footer .content .ico-social {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 2px solid var(--ungu-light);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.ico-social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ico-social a:hover {
    fill: var(--ungumuda);
}

.footer .content .ico-social:hover {
    background-color: var(--silver);
    border: 2px solid var(--silver);
    z-index: 2;
}

.fbico {
    fill: var(--silver);
}

.drico {
    fill: var(--silver);
}

.igico {
    fill: var(--silver);
}

.mailico {
    fill: var(--silver);
}